{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/tagsinput.css' %}">

{% endblock %}

{% block content %}

    <div class="page-header" style="background: url('{% static 'assets/img/banner1.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Post you Ads</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Post you Ads</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="section-padding">
        <div class="container">
            <div class="row">
                {% include 'includes/sidebar.html' %}

                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div class="row page-content">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {% if form.errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form action="" method="post" enctype="multipart/form-data">
                                <div class="inner-box">
                                    <div class="dashboard-box">
                                        <h2 class="dashbord-title">Ad Detail</h2>
                                    </div>
                                    {% csrf_token %}
                                    {{ form.as_p }}

                                    <button class="btn btn-common" type="submit">Post Ad</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="{% static 'assets/js/tagsinput.js' %}"></script>

    <script type="text/javascript">
        $('#summernote').summernote({
            height: 250, // set editor height
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: false // set focus to editable area after initializing summernote
        });
    </script>

{% endblock %}